* {
  box-sizing: border-box;
  background-color: #fdfaf2;
  color: #28282b;
}

#header {
  text-align: center;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: bolder;
  font-size: 40pt;
  margin-top: 18px;
  margin-bottom: 6px;
}

body {
  touch-action: manipulation;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.game-buttons {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Customised checkbox container */
.checkbox {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #888888;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #10559a;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 8px;
  top: 2px;
  width: 3px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#feeling-lazy {
  background-color: #ccc;
  padding: 6px 6px 6px 6px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

#feeling-lazy:hover {
  background-color: #db4c77;
  color: white;
}

#show-rules {
  background-color: #ccc;
  padding: 6px 6px 6px 6px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

#show-rules:hover {
  background-color: #888888;
}

#play-again {
  background-color: #ccc;
  padding: 6px 6px 6px 6px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

#play-again:hover {
  background-color: #10559a;
  color: white;
}

.grid-row {
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: auto;
  width: 320px;
}

.cell {
  flex: 1;
  height: 60px;
  margin: 2px 2px 2px 2px;
  border-color: #36454f;
  border-style: solid;
  border-width: 1px;
  font-size: 24pt;
  text-align: center;
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(136, 136, 136, 1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(136, 136, 136, 1);
  box-shadow: 1px 1px 3px 0px rgba(136, 136, 136, 1);
}

.grid-row-example {
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: auto;
  width: 220px;
}

.cell-example {
  flex: 1;
  height: 40px;
  margin: 2px 2px 2px 2px;
  border-color: #36454f;
  border-style: solid;
  border-width: 1px;
  font-size: 16pt;
  text-align: center;
  padding: 6px 0;
  font-family: "Roboto", sans-serif;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(136, 136, 136, 1);
  -moz-box-shadow: 1px 1px 3px 0px rgba(136, 136, 136, 1);
  box-shadow: 1px 1px 3px 0px rgba(136, 136, 136, 1);
}

#keyboard-container {
  text-align: center;
  margin: 20px 0 20px 0;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-content: space-around;
  margin: auto;
  width: 320px;
}

#key {
  flex: 1;
  border-width: 0.5px;
  border-style: solid;
  border-color: grey;
  border-radius: 5px;
  font-size: 14pt;
  text-align: center;
  padding-top: 5px;
  font-family: "Roboto", sans-serif;
  margin: 1px 0.5px 1px 0.5px;
  width: 25px;
  height: 36px;
  cursor: pointer;
}

#key:hover {
  background-color: whitesmoke;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  padding: 20px;
  width: 90%;
  font-family: "Arial", sans-serif;
  text-align: center;
}

/* The Close Button */
.close {
  color: #ccc;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #888888;
  text-decoration: none;
  cursor: pointer;
}

#overall-stats {
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: italic;
}

#overall-stats > .overall-stats-field {
  width: 100px;
  padding-bottom: 10px;
}

#tries-stats {
  display: flex;
  flex-wrap: wrap;
}

.tries {
  background-color: #96ceb4;
  height: 20px;
  min-width: 10px;
  text-align: right;
  margin-left: 4px;
  padding-right: 2px;
  font-style: italic;
  color: rgba(110, 110, 110, 0.5);
}

.break {
  flex-basis: 100%;
  height: 3px;
}

#feedback-button {
  background-color: #ccc;
  width: 120px;
  margin: 20px 0 10px 0;
  padding: 6px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

#feedback-button:hover {
  background-color: #10559a;
  color: white;
}

#share-button {
  background-color: #ccc;
  width: 120px;
  margin: 20px 0 10px 0;
  padding: 6px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

#share-button:hover {
  background-color: #db4c77;
  color: white;
}

/* The toast - position it at the bottom and in the middle of the screen */
#toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  /*margin-left: -125px;  Divide value of min-width by 2 */
  background-color: #ccc; /* Black background color */
  text-align: center; /* Centered text */
  border-radius: 4px; /* Rounded borders */
  padding: 6px; /* Padding */
  position: sticky;
  z-index: 2; /* Add a z-index if needed */
  left: 50%; /* Center the toast */
  bottom: 30px; /* 30px from the bottom */
  font-family: "Roboto", sans-serif;
  font-size: larger;
}

/* Show the toast when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible; /* Show the toast */
  /* Add animation: Take 0.5 seconds to fade in and out the toast.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
